*:focus{
	outline: none;
}
body{
	font-family: Lato;
	color: #353535;
}
#mainContent{
	width: 1120px;
	margin: 0 auto;	
}

.thinButton{
	padding: 8px 20px 8px 20px;
	background-color: #1696d2;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.thinButton a, .thicButton a{
	color: #fff;
	text-decoration: none;
}
.thinButton:hover, .thicButton:hover{
	background-color: #353535;
}
.thicButton{
	padding: 13px 20px 13px 20px;
	background-color: #1696d2;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 50px;
}
a{
	color: #1696d2;
	text-decoration: none;
}
a.standard{
	color: #1696d2;
	text-decoration: none;
}
a.standard:hover{
	color: #353535;
}
a.inverted{
	color: #353535;
	text-decoration: none;
}
a.inverted:hover{
	color: #1696d2;
}

/*********************************************************************************/
/*******************************       MENU      *********************************/
/*********************************************************************************/

#menuBar{
	position: fixed;
    width: 100%;
    background: #F5F5F5;
    top: 51px;
    z-index: 98;
    height: 49px;
}

#tabWrapper{
	width: 300px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background: none;
}
#tabWrapper span{
	display: inline-block;
    background: #999999;
    width: 2px;
    height: 25px;
    position: absolute;
    top: 14px;
    height: 18px;
    float: left;
}

.menuTab{
	display: inline-block;
    text-transform: uppercase;
	font-size:14px;
	margin-top:14px;
}
.menuTab.active, .menuTab:hover{
	font-weight: bold;
	color: #1696d2;
}
.menuTab.home{
	width: 69px;
}
.menuTab.cities{
	width: 98px;
	position: relative;
	left: 1px;
	text-align: center;
}
.menuTab.groups{
    width: 124px;
    text-align: right;
}
.menuTab.menu{
	display: none;
}


/*********************************************************************************/
/***************************       MENU POPUP     ********************************/
/*********************************************************************************/

.menu.popup{
	position: fixed;
	top: 100px;
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #9D9D9D;
	-webkit-box-shadow: 0px 16px 31px -11px rgba(105,105,105,0.62);
	-moz-box-shadow: 0px 16px 31px -11px rgba(105,105,105,0.62);
	box-shadow: 0px 16px 31px -11px rgba(105,105,105,0.62);
	z-index: 9999;
}
.menu.popup:after, .menu.popup:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.city.menu.popup:after, .city.menu.popup:before{
	left: calc(50% - 28px);
}
.group.menu.popup:after, .group.menu.popup:before{
	left: calc(50% + 110px);
}
.menu.popup:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}
.menu.popup:before {
	border-color: rgba(157, 157, 157, 0);
	border-bottom-color: #9D9D9D;
	border-width: 14px;
	margin-left: -14px;
}

.colContainer{
	width: 1027px;
	margin: 0 auto;
}
.popupColumn{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.popupCity{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.popupCity:hover{
	font-weight: bold;
	color: #1696d2;
}

.popupRow{
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #9D9D9D
}
.popupRow_first{
	margin-top: 20px;
}
.popupRow_last{
	margin-bottom: 20px;
	border-bottom: none;
}
.popupGroup{
	font-size: 18px;
    line-height: 1.2;
    display: inline-block;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
    width: 280px; 
    padding-left: 9px;
    margin: 20px;
}


/*********************************************************************************/
/***************************       HOME TITLE     ********************************/
/*********************************************************************************/
#titleContainer{
	width: 100%;
	border-bottom: 1px solid #9D9D9D;
    padding-bottom: 70px;
}
#title, #subtitle{
	display: block;
	font-size: 40px;
	width: 100%;
	text-align: center;
}
#title{
	margin-top: 220px;
	font-weight: bold;
}
#subtitle{
	font-weight: 300;
	margin-bottom: 50px;
}
.introText{
	font-size: 22px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

/*********************************************************************************/
/*************************       HOME DASHBOARD      *****************************/
/*********************************************************************************/
#groupListContainer{
	display: block;
    float: left;
    width: 195px;
    margin-right: 50px;
}
#groupListTitle{
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
}
.groupListGroup{
	font-size: 14px;
	color: #696969;
	line-height: 20px;
	padding-left: 7px;
    margin-left: -14px;
    border-left: 7px solid white;
    cursor: pointer;
}
.groupListSpace{
	height: 25px;
	cursor: pointer;
}
.groupListGroup.active{
	font-weight: bold;
	color: #1696d2;
}
#mapContainer{
	display: block;
	position: relative;
    float: right;
    width: calc(100% - 245px);
}
#tooltipContainer{
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#tooltipTitle{
	font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
#tooltipSubtitle{
	line-height: 1.4;
	font-size: 16px;
	width: 470px;
}
#subtitleGroupName{
	font-weight: bold;
}
#subtitleViewMore{
	color: #1696d2;
	cursor: pointer;
}
#tooltipViewMore{
	margin-top: 8px;
	margin-bottom: 22px;
}
#tooltipViewMore .thinbutton {
	margin-top: 0px;
	margin-bottom: 30px;
}
#tooltipCities{
	width: 470px;
}
#tooltipCitiesTitle{
    font-size: 16px;
    font-style: italic;
}
#tooltipCitiesList .col{
	display: inline-block;
	margin-top: 5px;
}
#tooltipCitiesList .tooltipCity{
	font-size: 13px;
	margin-top: 4px;
	color: #1696d2;
	cursor: pointer;
}
#tooltipCitiesList .tooltipCity:hover{
	color: #000;
}
#stateSelectContainer{
	position: absolute;
    right: 0px;
    top: 0px;
}
#stateSelect-button{
	top: 50px;
}
#stateSelect-button:focus{
	outline: none;
}
#stateSelect{
	display: none;
}
#clearSelection{
	font-size: 14px;
    font-style: italic;
    top: 60px;
    right: 2px;
    position: relative;
    text-align: right;
    cursor: pointer;
    opacity: 0;
}
#clearSelection:hover{
	color: #1696d2;
}

/*********************************************************************************/
/*******************************       MAP      **********************************/
/*********************************************************************************/

#homeMap, #groupMap{
	cursor: pointer;
	width: 100%;
    position: absolute;
    top: 270px;
}
#homeMap{
	top: 270px;
}
#groupMap{
	top: -10px;
}
.states {
  fill: #e3e3e3;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.cityText{
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
}

.cell-path {
  fill: none;
  stroke: none;
  pointer-events: all;
}

/*********************************************************************************/
/*****************************       BODY COPY      ******************************/
/*********************************************************************************/
#homeCopy{
    display: block;
    margin-top: 900px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.copyHeader{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 35px;
}
.copyP, .copyUl{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 22px;
}
.copyUl{
	padding-left: 21px;
	width: calc(100% - 21px);
}
.copyUl li{
	text-align: left;
    list-style: initial;
    padding-left: 20px;
    padding-bottom: 30px;
}


/*********************************************************************************/
/*****************************      HOME FOOTER      *****************************/
/*********************************************************************************/

#footerContainer{
	margin-top: 90px;
	background-color: #F5F5F5;
}
#footerContent{
	width: 700px;
	margin: 0 auto;
}
.footerHeader{
	margin-top: 50px;
	margin-bottom: 8px;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}
#topFooterHeader{
	padding-top: 44px;
}
.footerAbout, .footerCredits, .footerSpecialCredit{
    font-size: 16px;
    line-height: 26px;
}
.footerCredits, .footerSpecialCredit{
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
}
#bottomFooterCredits{
	margin-bottom: 45px;
}
.creditsHeader{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.creditsNames{
	margin-bottom: 30px;
	margin-top: 5px;
	font-size: 16px;
}
#copyright{
	margin-bottom: 100px;
	display: inline-block;
}


/*********************************************************************************/
/***************************       PAGE HIGHLIGHTS      **************************/
/*********************************************************************************/
#highlightsContainer{
	margin-top: 230px;
}
#groupTitle, #cityTitle{
	font-size: 34px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 34px;
    padding-top: 4px;
}
#groupTitle{
	border-left: 10px solid transparent;
    padding-left: 10px;
}
#groupSubtitle{
	height: 20px;
    padding-bottom: 10px;
    margin-bottom: 21px;
}
#groupSubtitleText{
	font-size: 20px;
    display: inline-block;
    padding-left: 10px;
}
#groupSubtitleText span{
	font-weight: bold;
	color: #1696d2;
}
#groupSubtitle .thinButton{
	margin-left: 18px;
}
#highlightUl{
	padding-left: 19px;
	width: calc(100% - 19px);
}
.highlightLi{
	font-size: 18px;
    font-style: italic;
    text-align: left;
    line-height: 26px;
    list-style: initial;
    padding-left: 20px;
    margin-bottom: 25px;
}
#groupCitiesListContainer{
    display: block;
    float: left;
    width: 190px;
    margin-right: 50px;
}
#groupCitiesTitle{
	font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}
.groupCity{
	padding: 8px 0px 8px 16px;
	color: #1696d2;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.groupCity.even{
	background: #F5F5F5;
}

/*********************************************************************************/
/*******************************       CHARTZ      *******************************/
/*********************************************************************************/

#chartContainer{
	margin-top: 623px;
	border-bottom: 1px solid #9D9D9D;
}
#chartContainer.city{
	margin-top: 95px;
}
#chartKey{
	margin-left: 32px;
}
.keyLabel{
	font-size: 14px;
	display: inline-block;
	position: relative;
    top: -5px;
}
.keyItem{
	display: inline-block;
	margin-right: 7px;
	width: 20px;
	height: 20px;
}
.keyLabel.city, .keyLabel.group{
	margin-right: 30px;
}
.keyLabel.city{
	display: none;
}
.keyItem.city{
	background: #1696d2;
	display: none;
}
.keyItem.group{
	background: #D2D2D2;
}
.keyItem.national{
	background: #000000;
}
.smallChartContainer{
	width: 20%;
	margin-bottom: 50px;
	display: inline-block;
	position: relative;
	height: 160px;
}
.smallChartContainer svg{
	position: absolute;
	bottom: 20px;
	left: calc(50% - 80px);
}
.metricName{
	font-size: 14px;
	font-weight: bold;
	width: 160px;
	position: absolute;
	top: 140px;
	left: calc(50% - 80px);
}
.bar{
	stroke: none;
}
.bar.city{
	fill: #1696d2;
}
.bar.group{
	fill: #D2D2D2;
}
.bar.national{
	fill: #000000;
}
.barLabel, .barLabelHide{
	font-size: 13px;
}
.barLabelHide{
	opacity: 0;
}
.axis--y, .tick{
	display: none;
}
#chartSource, #chartNote, #noDataNote{
	display: block;
	font-size: 12px;
}
#noDataNote{
	display: none;
}
#chartSource span, #chartNote span{
	font-weight: bold;
}

/*********************************************************************************/
/*************************       APPROACHES LIST      ****************************/
/*********************************************************************************/
#approachesContainer{
	width: 1120px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #959595;
}
#approachesInnerContainer{
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}
#approachesTitle{
	font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.approachesIntro{
	color: #696969;
	font-style: italic;
	margin-bottom: 10px;
}
#approachesGroupName{
	margin-top: 45px;
	margin-bottom: 22px;
	font-size: 20px;
	font-weight: bold;
}
#approachUl{
	padding-left: 19px;
	width: calc(100% - 19px);
}
.approachLi{
	font-size: 16px;
    text-align: left;
    line-height: 24px;
    list-style: initial;
    padding-left: 15px;
    margin-bottom: 40px;
}
.approachLi strong{
	font-size: 18px;
}
#approachesList{
    padding-bottom: 50px;
}
.approachLi ul li{
	font-size: 16px;
    text-align: left;
    line-height: 24px;
    list-style: circle;
    padding-left: 15px;
    margin-top: 10px;
}
.approachLi ul{
	margin-bottom: 10px;
	width: calc(100% - 39px);
}
.approachBreak{
	display: block;
    height: 10px;
}

/*********************************************************************************/
/*************************       BOTTOM CONTENT      *****************************/
/*********************************************************************************/
#bottomCitiesContainer{
	width: 50%;
	float: left;
}
#bottomGroupsContainer{
	width: 50%;
	float: left;
}
.bottomCity{
	margin-bottom: 18px;
    font-size: 18px;
}
.bottomGroup{
	width: calc(50% - 40px);
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}
.bottomRow{
	border-bottom: 1px solid #9D9D9D;
    height: 85px;
    padding-top: 35px;
}
.bottomTitle{
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 20px;
	text-transform: uppercase;
}
.bottomRow_4{
	margin-bottom: -40px;
    border-bottom: none;
}

/*********************************************************************************/
/**************************       SMALL FOOTER      ******************************/
/*********************************************************************************/

#smallFooter{
	width: 100%;
    background: #353535;
    height: 53px;
    margin-top: 60px;
    display: inline-block;
    bottom: 0px;
    color: white;
    font-size: 14px;
}
#smallFooter div{
	width: 1120px;
	margin: 0 auto;
	top: 18px;
    position: relative;
}

/*********************************************************************************/
/*****************************       PRINT      **********************************/
/*********************************************************************************/
.print.cover{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.print.page{
	height: 320mm;
	position: relative;
}
.print.container, body.print #mainContent, body.print #approachesContainer{
	width: 220mm;
	overflow: hidden;
}
body.print #title, body.print #subtitle{
	display: inline-block;
	font-size: 28px;
	width: auto;
	margin-bottom: 8px;
	margin-top: 12px;
}
body.print .introText {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}
body.print #titleContainer{
	padding-bottom: 20px;
}
body.print #cityTitle, body.print #groupTitle{
	font-size: 28px;
}
body.print #highlightsContainer{
	margin-top: 30px;
}
body.print #groupTitle{
	font-size: 22px;
	margin-bottom: 13px;
}
body.print.city #cityTitle{
	margin-bottom: 10px;
}
body.print.city #groupSubtitle{
	font-size: 18px;
	margin-bottom: 7px;
	padding-bottom: 3px;
}
#printCityList{
	font-size: 14px;
    margin-bottom: 20px;
}
body.print #chartContainer {
    margin-top: 53px;
}
body.print .highlightLi {
    font-size: 14px;
    line-height: 18px;
    padding-left: 8px;
    margin-bottom: 17px;
}
body.print .keyItem{
	width: 0px;
	height: 0px;
}
body.print .keyItem.city{
	border: 10px solid #1696d2;
	display: none;
}
body.print .keyItem.group{
	border: 10px solid  #D2D2D2;
}
body.print .keyItem.national{
	border: 10px solid  #000000;
}
body.print .smallChartContainer{
	margin-bottom: 10px;
	height: 130px;
}
body.print #chartContainer{
	width: 820px;
	border-bottom: none;
}
body.print #charts{
	height: 440px;
}
body.print #chartContainer{
	height: 510px;
}
body.print .barLabel, body.print .barLabelHide{
	font-size: 12px;
}
body.print .metricName{
	font-size: 13px;
	width: 130px;
	top: 110px;
}

body.print #chartSource{
	margin-top: 15px;
}
.thin.logo img{
	height: 14px;
    margin-top: 30px;
    position: absolute;
    bottom: 0px;
}


body.print #approachesInnerContainer{
	width: 100%;
}
body.print #approachesContainer{
	margin-top: 10px;
	border-bottom: none;
}
body.print .approachesIntro, body.print #approachesList, body.print .approachLi, body.print .approachLi ul li{
	font-size: 14px;
	line-height: 19px;
}
body.print .approachLi{
	margin-bottom: 17px;
}
body.print .approachLi ul li{
	margin-bottom: 10px;
}
body.print #groupCitiesTitle{
	margin-bottom: 10px;
}
body.print .groupCity{
	color: #353535;
}

#printFooter{
	position: absolute;
    bottom: 0px;
    border-top: 1px solid #959595;
}
#printFooter .full.logo{
	float: left;
    padding-top: 30px;
}
#printNotes{
	float: left;
    width: calc(100% - 240px);
    margin-top: 20px;
    padding-left: 90px;
    text-align: left;
    font-size: 11px;
}

.full.logo.top{
	margin-top: 10px;
}
.full.logo img{
	width: 124px;
}
body.print .thinButton{
	display: none;
}
body.print a{
	text-decoration: none;
	color: #353535;
}

body.print #controlsContainer{
	margin-top: 40px;
}
#printDefLeft{
	float: left;
	width: 43%;
	margin-top: 0px;
}
#printDefRight{
	float: right;
	width: 43%;
	margin-top: 0px;
}
body.print #groupCitiesTitle, #printDefTitle{
	font-size: 24px;
	width: 380px;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 42px;
}
#printDefTitle{
	float: left;
	margin-top: 70px;
	width: 100%;
}
body.print #mapContainer{
	margin-top: 60px;
}
#printDefs ul li{
	font-size: 14px;
	margin-bottom: 20px;
}
body.print .groupCity{
	position: relative;
}
body.print .groupCity{
	color: transparent;
}
.lilSvg{
	position: absolute;
	top: 0px;
	left: 0px;
}
@media print{
  @page {
    size: 210mm 297mm; /* portrait 
    /* you can also specify margins here: */
    margin: 15mm;	
   /*margin-right: 45mm;  for compatibility with both A4 and Letter */
  }
   body.print a:after{
   	content: none !important;
   }
   .page-break { height:0; page-break-after:always; margin:0; border-top:none; }
}

