/* home */
#groupSelectContainer{
	display: none;
}
#groupSelect{
	display: none;
}
#citySelectLabel, #groupSelectLabel{
	display: none;
}
#breakpoint1200, #breakpoint1000, #breakpoint900, #isMobile, #isPhone, #isSmallPhone{
	position: fixed;
	width: 0px;
	height: 0px;
	top: 0px;
	left: 0px;
	pointer-events: none;
	display: none;
}
@media(max-width: 1200px){
/* menus */
.group.menu .popupGroup{
    font-size: 15px;
    width: 210px;
    margin-left: 0px;
    margin-right: 0px;
}
.group.menu .popupRow a:first-child{
	    margin-left: calc(50% - 225px);

}
.group.menu .popupRow{
	padding-top: 0px;
	padding-bottom: 0px;
}
.colContainer{
	width: 100%;
}
.city.menu .popupColumn{
	width: 160px;
}
.colContainer .popupColumn:first-child{
	margin-left: calc(50% - 240px);
}
/* home */
	#breakpoint1200{
		display: block;
	}
	#mainContent,#approachesContainer,#smallFooter div{
		width: 900px;
	}
	#approachesInnerContainer{
		padding-left: 50px;
		padding-right: 50px;
		width: calc(100% - 100px);
	}
	#tooltipTitle,#tooltipSubtitle{
		width: 357px;
	}
	#tooltipSubtitle{
		font-size: 15px;
	}
/* charts */
	#chartKey{
		margin-left: 9px;
	}
	#highlightsContainer {
	    margin-top: 220px;
	}
	#groupSubtitle{
		display: block;
		height: auto;
	}
	#highlights{
		display: block;
	}
	#groupSubtitle .thinButton {
    	margin-top: 10px;
	}



}
@media(max-width: 1000px){
/* home */
	#breakpoint1000{
		display: block;
	}
	#mainContent,#approachesContainer,#smallFooter div{
		width: 800px;
	}
	#tooltipTitle,#tooltipSubtitle{
		width: 435px;
	}
	#tooltipContainer{
		margin-top: 110px;
	}
	#tooltipSubtitle{
		font-size: 15px;
	}
	#homeMap {
	    top: 320px;
	}
	#tooltipCities{
		width: 520px;
	}
	#tooltipCitiesList .tooltipCity{
		font-size: 12px;
	}
/* charts */
	.smallChartContainer {
    	width: 33%;
	}
	#chartKey{
		margin-left: calc(33% - 213px);
	}
/*chart page*/
	#highlightsContainer {
	    margin-top: 200px;
	}
	#groupSubtitle{
		display: block;
		height: auto;
	}
	#highlights{
		display: block;
	}
	#groupSubtitle .thinButton {
    	margin-top: 10px;
	}
}
@media(max-width: 900px){
/* home */
	#breakpoint900{
		display: block;
	}
	#homeCopy{
		width: 100%;
	}
	#mainContent,#approachesContainer,#smallFooter div, #footerContent{
		width: calc(100% - 100px);
	}
	#approachesInnerContainer{
		padding-left: 0px;
		padding-right: 0px;
		width: calc(100% + 100px);
		margin-left: -50px;
	}
	#groupListContainer{
		display: none;
	}
	#mapContainer{
		width: 100%;
	}
	#groupSelectContainer{
		display: block;
		top: 100px;
    	position: absolute;
    	left: calc(50% - 277.5px);
	}
	#stateSelectContainer{
		right: calc(50% - 277.5px);;
	}
	#stateSelect-button{
		top: 100px;
	}
	#clearSelection{
		top: 110px;
	}
	#tooltipContainer {
    	width: 555px;
    	left: calc(50% - 287.5px);
    	top: 70px;
    	position: absolute;
    }
	#tooltipTitle,#tooltipSubtitle{
		width: 555px;
	}
	#homeMap {
	    top: 400px;
	}
	#tooltipSubtitle{
		font-size: 16px;
	}
	#citySelectLabel, #groupSelectLabel{
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		position: absolute;
    	top: 70px;
	}
	#groupSelectLabel{
		left: calc(50% - 215.5px);
	}
	#citySelectLabel{
		right: calc(50% - 179.5px)
	}
/* charts */
	#highlightsContainer {
	    margin-top: 190px;
	}
	#chartKey{
		margin-left: calc(16.5% - 79px)
	}
/* group page */
	#groupCitiesTitle {
    	text-align: center;
    	margin-top: 20px;
    }
	#groupCitiesListContainer{
		width: 100%;
	}
	.groupCityContainer:first-child{
		margin-left: calc(50% - 240px);
	}
	.groupCityContainer{
		display: inline-block;
		width: 160px;
	}
	.groupCityRow{
    	height: 35px;
    	border-bottom: 1px solid #959595;
    }
    .groupCity{
	    font-weight: normal;
	    top: 11px;
    	position: relative;
    	padding: 0px;
    }
    #groupCitiesList{
    	margin-bottom: 15px;
    }
/* bottom content */
	#bottomCitiesContainer, #bottomGroupsContainer{
		width: 100%;
	}
	.bottomTitle, #bottomCitiesContainer{
		text-align: center;
	}
}
@media(max-width: 725px){
/* home */
	#isMobile{
		display: block;
	}
	#tooltipCitiesList .tooltipCity{
		border-bottom: 1px solid #959595
	}
	#tooltipContainer{
		background: #f5f5f5;
		padding: 60px;
		width: calc(100% - 120px);
		left: 0px;
		top: 95px;
		border-left: none;
		margin-left: 0px;
	}
	#tooltipTitle, #tooltipSubtitle,#tooltipCities{
		width: 100%;
	}
	#tooltipTitle{
		padding-bottom: 10px;
	}
	#tooltipCitiesList .tooltipCity{
		font-size: 16px;
    	padding-bottom: 5px;
    	padding-top: 9px;
	}
	#tooltipViewMore {
	    margin-bottom: 40px;
	}
	#groupSelectContainer{
    	left: calc(50% - 262.5px);
	}
	#stateSelectContainer{
		right: calc(50% - 262.5px);;
	}
	#groupSelectLabel{
		left: calc(50% - 200.5px);
	}
	#citySelectLabel{
		right: calc(50% - 164.5px)
	}
	#homeCopy{
		margin-top: 670px
	}
	#highlightsContainer {
	    margin-top: 150px;
	}
}
@media(max-width: 620px){
/* home */
	#isPhone{
		display: block;
	}
	#mainContent,#approachesContainer,#smallFooter div, #footerContent{
		width: calc(100% - 80px);
	}
	#approachesInnerContainer{
		padding-left: 0px;
		padding-right: 0px;
		width: calc(100% + 80px);
		margin-left: -40px;
	}
	#tooltipContainer{
		width: 100%;
		left: -40px;
		top: 180px;
		padding: 40px;
	}
	#groupSelectLabel{
		top: 50px;
		left: calc(50% - 54px);	
	}
	#citySelectLabel {
		top: 150px;
    	right: calc(50% - 19px);
	}
	#groupSelectContainer {
	    left: calc(50% - 115px);
	    top: 79px;
	}	
	#stateSelect-button {
	    top: 180px;
	    left: calc(50% - 260px);
	}
	#clearSelection{
		top: 190px;
		left: calc(50% - 260px);
	}
	#title, #subtitle{
		font-size: 34px;
	}
	.introText{
		font-size: 20px;
	}
/* charts */
	.smallChartContainer {
    	width: 50%;
	}
	#chartKey{
		margin-left: calc(50% - 191px)
	}
	.keyItem {
    	margin-right: 2px;
    }
	.keyLabel.city, .keyLabel.group {
	    margin-right: 20px;
	}
	.keyItem.national{
		display: block;
    	margin-top: 8px;
	}
	.keyLabel.national{
		display: block;
    	top: -20px;
    	left: 31px;
	}
/* group page */
	.groupCityContainer:first-child{
		margin-left: 0px;
	}
	.groupCityContainer{
		width: 33%;
	}
}
@media(max-width: 500px){
/* popup menu */
.menu.popup{
	height: 100%;
	top: 0px;
	box-shadow: none;
}
.menu.popup:after, .menu.popup:before {
	border: none !important;
}
.group.menu .popupGroup {
    font-size: 14px;
    width: 130px;
    margin-right: 5px;
}
.group.menu .popupRow a:first-child {
    margin-left: calc(50% - 150px);
}
.group.menu .popupRow_first{
	margin-top: 120px;
}
#menuClose{
	position: absolute;
    top: 10px;
    right: calc(50% - 150px);
    font-size: 44px;
    font-weight: 100;
}
#menuBack{
	position: absolute;
    color: #1696d2;
    text-transform: uppercase;
    top: 24px;
    left: calc(50% - 150px);
    font-size: 18px;
}
#menuMobileTitle{
	position: absolute;
    top: 82px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
/* home */
	#isSmallPhone{
		display: block;
	}
	#mainContent,#approachesContainer,#smallFooter div, #footerContent{
		width: calc(100% - 50px);
	}
	#approachesInnerContainer{
		padding-left: 0px;
		padding-right: 0px;
		width: calc(100% + 50px);
		margin-left: -25px;
	}
	#tooltipContainer{
		width: 100%;
		left: -25px;
		padding: 25px;
	}
/* bottom content*/
	.bottomRow{
		height: 55px;
	}
	.bottomRow_4{
		margin-bottom: 0px;
		border-bottom: 1px solid #9D9D9D;
	}
	.bottomRow_8{
		margin-bottom: -40px;
	    border-bottom: none;
	}
	.bottomGroup {
    	width: calc(100% - 40px);
    }
/* group page */
	.groupCityContainer:first-child{
		margin-left: 0px;
	}
	.groupCityContainer{
		width: 50%;
	}
}
@media(max-width: 400px){
	.smallChartContainer {
    	width: 100%;
	}
	#chartKey {
	    margin-left: calc(50% - 80px);
	}
	.keyItem.national {
	    display: block;
	    margin-top: -6px;
	}
	.keyItem.group{
		display: block;
    	margin-top: 8px;
	}
	.keyLabel.group{
		display: block;
    	top: -20px;
    	left: 31px;
	}
/* bottom content */
	.bottomGroup{
		font-size: 16px;
	}
}
