*{
	font-family: Lato;
}
.clusterName{
	font-size: 22px;
}

.cityBar{
	fill: #fdbf11;
	background-color: #fdbf11;
}
.clusterBar{
	fill: #fdd870;
	background-color: #fdd870;
}
.citiesBar{
	fill: #1696d2;
	background-color: #1696d2;
}
.nationalBar{
	fill: #73bfe2;
	background-color: #73bfe2;
}
.legendItem{
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
#legend div{
	float: left;
	margin-right: 10px;
}
#legend{
	display: inline-block;
	margin-bottom: 50px;
}
#button{
	color: white;
    text-transform: uppercase;
    width: 80px;
    background: #1696d2;
    text-align: center;
    padding: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}
#button:hover{
	background: #333;
}
.clusteredSVG{
	margin-bottom: 80px;
}